@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  background-color: rgb(255, 255, 255);
}

.neon .neon\:bg-black {
  background-color: #000000;
}
.text-shadow-text {
  text-shadow: 0 0 10px rgb(255, 0, 0, 1) ;
}


.neon .neon\:glow-red {
  color: red;
  text-shadow: 0 0 8px red, 0 0 16px red, 0 0 32px red;
}

.neon .neon\:glow-cyan {
  color: cyan;
  text-shadow: 0 0 8px cyan, 0 0 16px cyan, 0 0 32px cyan;
}

.neon-glow {
  text-shadow: 0 0 2px #fff, 0 0 5px #08f, 0 0 15px #08f, 0 0 30px #08f;
}
